@charset 'utf-8';

$c-text: hsl(50, 20%, 20%);
$b-medium-max: 768px;
$b-large-min: $b-medium-max + 1;

#app {
    font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
    // height: 100%;
    // width: 100%;
}
/** Header */
.header-nav, .footer-nav {
    li {
      display: inline-block;
      margin: 0 10px;
    }
    a {
      color: $c-text;
    }
  }
  /** Header Contents */
  .header-outer {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: rgba(255,255,255, 0.8);
  }

  .site-title {
    margin-bottom: 20px;
    text-align: center;
    font-size: 2.0rem;
    a {
      color: $c-text;
      &:hover, &.hover {
        text-decoration: none;
      }
    }
    @media screen and (max-width: 460px) {
      font-size: 1.5rem;
      margin-right: 20px;
    }
  }

  .header-nav {
    a {
      font-size: 1.4rem;
      font-weight: bold;
      color: $c-text;
      &:hover, &.hover {
        text-decoration: none;
        border-bottom-color: currentColor;
      }
      @media screen and (max-width: 460px) {
        font-size: 0.9rem;
      }
    }
  }
  
  @media (max-width: $b-medium-max) {
    .header-nav {
      li {
        padding-bottom: 10px;
      }
    }

    .is-true {
      .site-title {
        margin-bottom: 10px;
        font-size: 1.6rem;
      }
    }
  }
  @media (min-width: $b-large-min) {
    header, .header-nav {
      text-align: left;
    }

    .header-outer::after {
      content: '';
      display: block;
      overflow: hidden;
    }

    .site-title {
      float: left;
      width: 30%;
      margin-top: 15px;
      margin-bottom: 0;
      margin-left: 20px;
      font-size: 2.0rem;
    }

    .header-nav {
      float: right;
      ul {
        margin-right: 16px;
      }
      a {
        display: inline-block;
        padding: 16px;
        border-bottom: 3px solid transparent;
        transition: border-bottom 0.3s;
      }
    }
  }

  .copyright-box {
    margin: 10px 0 30px;
    font-size: 1.2rem;
    color: #666;
  }

  footer {
    text-align: center;
  }

  .sns-box {
    margin-top: 20px;
    text-align: center;
  }

  .sns-link {
    margin: 0 5px;
    font-size: 30px;
    color: #666;
    &:hover {
      color: #444;
    }
  }

  .twitter-icon::before {
    content: "";
    background-image: url("~@/assets/img/twitter-icon.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    vertical-align: middle;
  }

  .github-icon::before {
    content: "";
    background-image: url("~@/assets/img/github-icon.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    vertical-align: middle;
  }

  .qiita-icon::before {
    content: "";
    background-image: url("~@/assets/img/qiita-icon.png");
    display: inline-block;
    width: 1em;
    height: 1em;
    background-size: contain;
    vertical-align: middle;
  }

  .common-more-box {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 15px;
  }

  .common-more-box a {
    color: #2c3e50;
    display: block;
    max-width: 300px;
    width: 80%;
    margin: 0 auto;
    padding: .5em;
    border: 1px solid CurrentColor;
    background-color: transparent;
    transition: background-color .3s;
  }
/** Home */
.home {
  height: calc(100vh - 217px);
  margin-top: 84px;

  .container__home {
    height: calc(100% - 84px);

    &--text {
      width: 100vw;
      padding-top: 280px;
      padding-bottom: 150px;
      text-align: center;
      font-size: 40px;
    }
    @media screen and (max-width: 480px) {
      &--text {
        font-size: 23px;
        padding-top: 170px;
        padding-bottom: 100px;
      }
    }
  }
}
/** About */
.about {
  height: calc(100vh - 217px);
  margin-top: 84px;
  @media screen and (max-width: 480px) {
    height: 100%;
  }

  .container__about {
    height: calc(100% - 84px);
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    &--left {
      width: 50%;
      position: relative;
      @media screen and (max-width: 480px) {
        width: 100%;
        height: 400px;
      }

      .profile__img {
        position: absolute;
        left: 220px;
        top: 100px;
        border-radius: 50%;
        @media screen and (max-width: 900px) {
          left: 90px;
          top: 40px;
          height: 60%;
          width: 60%;
        }
        @media screen and (max-width: 1400px) {
          left: 70px;
        }
      }
    }

    &--right {
      height: 100%;
      width: 50%;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .title {
        color: $c-text;
        font-size: 30px;
        width: 85px;
        border-bottom: 3px solid CurrentColor;
        @media screen and (max-width: 480px) {
          margin-left: 150px;
        }
      }

      .text__area {
        margin-top: 70px;
        width: 80%;
        font-size: 23px;
        color: $c-text;
        @media screen and (max-width: 480px) {
          margin-left: 20px;
          font-size: 16px;
        }
      }
    }
  }
}
/** Skill */
.skill {
  height: calc(100vh - 217px);
  margin-top: 84px;
  @media screen and (max-width: 480px) {
    height: 100%;
  }
  @media screen and (max-height: 780px) {
    height: calc(100% - 217px);
  }

  .container__skill {
    padding-top: 10px;
    height: calc(100% - 84px);
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    &--left, &--center, &--right {
      width: 33.3%;
      padding-left: 40px;
      @media screen and (max-width: 480px) {
        width: 100%;
        padding-left: 5px;
      }
      @media screen and (max-width: 1462px) {
        height: 70%;
      }

      .front, .back, .tool {
        &__title {
          color: $c-text;
          font-size: 23px;
          margin-top: 20px;
          span {
            background-color:$c-text;
            color: #fff;
            border-radius: 3%;
          }
          @media screen and (max-height: 780px) {
            font-size: 20px;
            width: 80%;
          }
        }

        &__content {
          font-size: 18px;
          padding: 10px;
          @media screen and (max-width: 1462px) {
            font-size: 15px;
          }
          @media screen and (max-height: 780px) {
            font-size: 16px;
          }

          &--list {
            .list__skill {
              padding-top: 20px;

              &--name {
                font-weight: bold;
              }

              &--evaluate {
                display: flex;

                .label {
                  width: 60px;
                }

                .star {
                  width: 150px;
                  height: 30px;
                  @media screen and (max-width: 1462px) {
                    width: 100px;
                    height: 20px;
                  }
                }
              }

              &--intro {
                display: flex;

                .label {
                  width: 60px;
                }

                .introduction {
                  width: 370px;
                  @media screen and (max-width: 480px) {
                    width: 300px;
                  }
                }
              }
            }
          }
        }
      }
    }

    &--center {
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    &--right {
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .container__title {
    &--text {
      color: $c-text;
      font-size: 30px;
      width: 60px;
      margin-left: 40px;
      border-bottom: 3px solid CurrentColor;
      @media screen and (max-width: 480px) {
        margin-top: 140px;
      }
    }
  }
}
/** Work */
.work {
  height: calc(100vh - 217px);
  margin-top: 84px;
  @media screen and (max-width: 480px) {
    height: 100%;
  }
  @media screen and (max-height: 780px) {
    height: calc(100% - 217px);
  }

  .container__work {
    padding-top: 10px;
    height: calc(100% - 84px);
    display: flex;
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }

    &--left, &--center, &--right {
      width: 33.3%;
      padding-left: 40px;
      @media screen and (max-width: 480px) {
        width: 100%;
      }

      .app {
        &__title {
          color: $c-text;
          font-size: 23px;
          margin-top: 20px;
          text-align: center;
          span {
            background-color: $c-text;
            color: #fff;
            border-radius: 3%;
          }
          @media screen and (max-height: 780px) {
            font-size: 20px;
          }
          @media screen and (max-height: 780px) {
            width: 80%;
          }
        }

        &__content {
          padding-top: 15px;

          .image__content {
            margin-left: 30px;
            @media screen and (max-width: 480px) {
              margin: 0;
            }

            .site-image {
              height: 320px;
              width: 450px;
              @media screen and (max-width: 480px) {
                width: 400px;
              }
              @media screen and (max-height: 780px) {
                height: 220px;
                width: 340px;
              }
              &:hover {
                opacity: 0.5;
                transition-duration: 0.3s;
                border: 1px solid $c-text;
              }
            }
          }

          .text__content {
            margin-top: 20px;

            &--name {
              padding-top: 30px;
              font-weight: bold;
            }

            &--skill {
              margin-top: 10px;
              display: flex;
              width: 100%;
              height: 100px;

              .content__label {
                width: 20%;
              }

              .content__skill {
                width: 80%;
              }
            }
          }
        }
      }
    }

    &--center {
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }

    &--right {
      @media screen and (max-width: 480px) {
        width: 100%;
      }
    }
  }

  .container__title {
    &--text {
      color: $c-text;
      font-size: 30px;
      width: 68px;
      margin-left: 40px;
      border-bottom: 3px solid CurrentColor;
      @media screen and (max-width: 480px) {
        margin-top: 140px;
      }
    }
  }
}
/** Home */
.contact {
  height: calc(100vh - 217px);
  margin-top: 84px;

  .container__contact {
    height: calc(100% - 84px);

    &--text {
      width: 100vw;
      padding-top: 280px;
      padding-bottom: 150px;
      text-align: center;
      font-size: 20px;
    }
    @media screen and (max-width: 480px) {
      &--text {
        font-size: 15px;
        padding-top: 170px;
        padding-bottom: 100px;
      }
    }
  }
}
